@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white_1
}

.bg_gradient_stripe {
  @apply bg-gradient-to-r from-[#CAEA71] via-[#844071] to-[#404F84];
}

.bg_gradient_text {
  @apply bg-gradient-to-r from-[#BEE035] via-[#844071] to-[#404F84] bg-clip-text;
  -webkit-text-fill-color: transparent;
}

.padding_x {
  @apply px-10 2xl:px-2xl
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: black;
  height: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
  height: 20px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  @apply shadow-lime shadow-[-1000px_0_0_1000px] bg-lime;
  height: 20px;
  width: 20px;
}

/***** EE *****/
input[type="range"]::-ms-fill-lower {
  @apply bg-lime;
  height: 20px;
  border-radius: 10px 0 0 10px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: black;
  height: 20px;
  border-radius: 10px;
}

input[type="range"]::-moz-range-thumb {
  @apply bg-lime;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 0;
}

input[type="range"]::-moz-range-progress {
  @apply bg-lime;
  height: 20px;
  border-radius: 10px 0 0 10px;
}